.siteContent {
  width: 100%;
  min-height: 100vh;
  background: transparent;
  position: relative;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;
}